@charset "utf-8";
/* CSS Document */

body {
	font: 14px Calibri;
	margin: 0px;
	border-top: 5px solid #f5f3e9;
	background-image: url('images/meta.png');
	background-repeat: repeat-x;
}

#container {
	width: 700px;
	text-align: left;
	margin: auto;
}

#top {
	color: #c0ad97;
}

h1 {
	background-image: url('images/logo.png');
	width: 106px;
	height: 24px;
	margin: 10px 50px 0px 52px;
	float: left;
}

h1 span {
	display: none;
}

ul.menu {
	margin: 10px 0px 0px 0px;
	padding: 0px;
	list-style-type: none;
}

ul.menu li {
	float: left;
	margin: 0px;
	padding: 0px;
}

ul.menu li.clear {
	clear: both;
}

ul.cols {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

ul.cols li {
	margin: 0px;
	padding: 0px;
	float: left;
}

ul.links {
	margin: 0px;
	padding: 0px;
	list-style-image: url('images/bullet.png');
	list-style-position: inside;
	width: 164px;
}

ul.links li {
	margin: 0px;
	padding: 0px;
	float: none;
	font: bold 12px Calibri;
	line-height: 15px;
	text-transform: lowercase;
}

h3 {
	font: bold 14px Calibri;
	margin: 0px;
	border-bottom: 1px solid #edeaea;
	line-height: 12px;
}

.color1 {
	color: #c0ad97;
}

.color2 {
	color: #a20202;
}



#content {
	margin-top: 20px;
	position: absolute;
	background-color: #FFFFFF;
	z-index: 1;
	color: #c3b894;
}

#left {
	width: 150px;
	float: left;
	z-index: 2;
	height: 200px;
}

#left h3 {
	margin: 10px 0px 10px 0px;
	clear: both;
}

#left em, 
.translated em {
	font-style: normal;
	color: #FFFFFF;
	line-height: 20px;
}

#left em span, 
.translated em span {
	padding: 0px 5px 0px 5px;
}

#left em.s3, 
.translated em.s3 {
	background-color: #a20202;
	background-image: url('images/s3_left.png');
	background-repeat: no-repeat;
}

#left em.s3 span, 
.translated em.s3 span {
	background-image: url('images/s3_right.png');
	background-repeat: no-repeat;
	background-position: right;
}

#left em.s2, 
.translated em.s2 {
	background-color: #be4d4d;
	background-image: url('images/s2_left.png');
	background-repeat: no-repeat;
}

#left em.s2 span, 
.translated em.s2 span {
	background-image: url('images/s2_right.png');
	background-repeat: no-repeat;
	background-position: right;
}

#left em.s1, 
.translated em.s1 {
	background-color: #c3b894;
	background-image: url('images/s1_left.png');
	background-repeat: no-repeat;
}

#left em.s1 span, 
.translated em.s1 span {
	background-image: url('images/s1_right.png');
	background-repeat: no-repeat;
	background-position: right;
}



#right {
	float: left;
	margin-left: 10px;
	width: 540px;
}

#right h3{
	font: bold small-caps 13px "Lucida Sans Unicode";
	line-height: 12px;
	text-transform: lowercase;
	color: #39515c;
	margin: 10px 0px 10px 0px;
	width: 455px;
	float: left;
}

#right #lang_buttons {
	width: 85px;
	float: left;
	margin-top: 11px;
	text-align: right;
}

#right #text {
	clear: both;
}

#right #text span {
	font: 12px "Lucida Sans";
	line-height: 17px;
}

#right #text span.en {
	background-color: #be4d4d;
	background-image: url('images/en_left.png');
	background-repeat: no-repeat;
	display: block;
	color: #FFFFFF;
	padding-left: 20px;
	margin-bottom: 1px;
	color: #FFFFFF;
}

#right #text span.en span {
	background-image: url('images/s2_right.png');
	background-repeat: no-repeat;
	background-position: right;
	display: block;
}

#right #text span.pl {
	background-color: #a20202;
	background-image: url('images/pl_left.png');
	background-repeat: no-repeat;
	display: block;
	color: #FFFFFF;
	padding-left: 20px;
	margin: 0px 0px 1px 9px;
	color: #FFFFFF;
}

#right #text span.pl span {
	background-image: url('images/s3_right.png');
	background-repeat: no-repeat;
	background-position: right;
	display: block;
}

#right #text span.editing {	
	background-color: #c3b894;
	background-image: url('images/edit_left.png');
	background-repeat: no-repeat;
	display: block;
	color: #FFFFFF;
	padding-left: 20px;
	margin: 0px 0px 1px 9px;
	color: #FFFFFF;
}

#right #text span.editing input {
	border: none;
	width: inherit;
	background-color: transparent;
	background-image: url('images/s1_right.png');
	background-repeat: no-repeat;
	background-position: right;
	width: 100%;
	font: 12px "Lucida Sans";
	line-height: 17px;
	color: #FFFFFF;
}





a, a:visited { text-decoration: none; color: inherit; }
a img { border: none; }
a:hover { color: #be4d4d; }

a#lang_all span,
a#lang_en span,
a#lang_pl span { display: none; }

a#lang_all {
	background-image: url('images/lang_all.png');
	width: 25px;
	height: 13px;
	display: block;
	float: left;
	margin-left: 4px;
}

a#lang_all:hover { background-image: url('images/lang_all_hover.png'); }

a#lang_en {
	background-image: url('images/lang_en.png');
	width: 24px;
	height: 13px;
	display: block;
	float: left;
	margin-left: 4px;
}

a#lang_en:hover { background-image: url('images/lang_en_hover.png'); }

a#lang_pl {
	background-image: url('images/lang_pl.png');
	width: 24px;
	height: 13px;
	display: block;
	float: left;
	margin-left: 4px;
}

a#lang_pl:hover { background-image: url('images/lang_pl_hover.png'); }


a.edit { 
	background-image: url('images/edit.png');
	display: block;
	float: left;
	height: 17px;
	width: 9px;
	background-repeat: no-repeat;
	background-position: center;
}

a.edit span { display: none; }

a.edit:hover { background-image: url('images/edit_hover.png'); }

a.ok {
	background-image: url('images/ok.png');
	display: block;
	float: left;
	height: 17px;
	width: 9px;
	background-repeat: no-repeat;
	background-position: center;
}

a.ok span { display: none; }

a.ok:hover { background-image: url('images/ok_hover.png'); }

.translated, .translating {
	position: absolute;
	top: 0px;
	width: 150px;
	border-right: 1px solid #c0ad97;
	color: #c0ad97;
	text-align: right;
	padding-right: 9px;
	z-index: -1;
}

.translated h3, .translating h3 {
	font: bold small-caps 13px "Lucida Sans Unicode";
	line-height: 12px;
	text-transform: lowercase;
	color: #39515c;
	margin: 10px 0px 10px 0px;
}

#t1 { left: 0px; }
#t2 { left: 0px; }

.additional {
	color: #e1e1e1;
	display: block;
	font-size: 11px;
}

