@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
   @-moz-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
        @keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

body {
  opacity: 0;

  -webkit-animation: fadeIn ease-in;
     -moz-animation: fadeIn ease-in;
          animation: fadeIn ease-in;

  -webkit-animation-fill-mode: forwards;
     -moz-animation-fill-mode: forwards;
          animation-fill-mode: forwards;

  -webkit-animation-duration: 0.25s;
     -moz-animation-duration: 0.25s;
          animation-duration: 0.25s;

  -webkit-animation-delay: 0.25s;
     -moz-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  display:box;
  box-pack:center;
  box-align:center;
}

.card {
  height: 250px;
  margin: auto;
  width: 620px;
}

.profile-photo {
  border-radius: 1000px;
  display: block;
  height: 250px;
  float: left;
  width: 250px;
}

.info {
  float: left;
  margin: 50px 0 0 50px;
  width: 320px;
  height: 125px;
}

.info > * {
  margin-bottom: 23px;
}

h1, h2 {
  height: 1em;
  font-weight: 100;
  margin: 0;
}

h1 {
  font-size: 39px;
  letter-spacing: -2px;
}

h2 {
  font-size: 16px;
  margin-left: 2px;
}


h1:after,
h2:after {
  content: "";
  display: inline-block;
  width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

h2 a {
  color: #777;
}

h2 a:hover {
  color: #000;
}

.personal ul {
  display: block;
  list-style-type: none;
  padding: 0px;
  font-size: 0px;
  margin: -5px 0 0 -16px;
}

.personal li {
  display: inline-block;
  margin: 0;
  padding: 0 10px;
  list-style-type: none;
  font-size: 22px;
}

.networks a {
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 39px;
  border-radius: 55px;
}

.networks a:hover {
  background: #ddd;
}

.networks span {
  display: none;
}

.icon-mail {
  font-size: 21px;
}

body.shutter {
  background-color: #250e0b;
  color: #fff;
}

body.privacy {
  display: block;
}

body.shutter .card {
  width: 800px;
}

body.shutter .info {
  width: 400px;
}

body.shutter a {
  color: rgba(255, 255, 255, 0.5);
}

body.shutter a:hover {
  color: #fff;
}

body.shutter .info.privacy {
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.5;
}

body.shutter .info.privacy h1,
body.shutter .info.privacy h2,
body.shutter .info.privacy h3,
body.shutter .info.privacy h4,
body.shutter .info.privacy h5,
body.shutter .info.privacy h6,
body.shutter .info.privacy strong {
  color: #fff;
}

body.shutter ul {
  list-style-type: disc;
  list-style-position: inside;
}

body.shutter .footer {
  clear: both;
  text-align: center;
}
