body {
  background: #f5f5f5;
  color: #555555;
  font: 300 16px/1.5 "Palatino Linotype", Linotype, "URW Palladio L", Palladio, "Book Antiqua", Georgia, sans-serif;
  text-shadow: 0px 1px 1px white; }

p {
  margin-bottom: 15px; }

a, input#send {
  border-bottom: 1px solid #DEDEDE;
  color: #07C;
  text-decoration: none; }

a:hover, input#send:hover {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  color: inherit;
  background: #EEE;
  border-color: #EEE; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1, h2 {
  margin: auto;
  text-align: center;
  width: 700px; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 24px; }

h3 {
  color: #000;
  font-size: 24px;
  font-style: italic;
  margin-top: 1em; }

strong {
  color: #000; }

.amp {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic; }

.header, .header-small {
  background: 10px 180px url('../images/header.jpg') #1a1c1d;
  border-bottom: 1px solid white;
  color: #BBB;
  padding: 50px 0px;
  text-shadow: 0px 2px 1px #000; }
  .header .who, .header-small .who {
    color: #FFF; }
  .header .what, .header-small .what {
    color: #FFF; }

.header-small {
  padding: 10px 0px; }

.header-small h1 {
  font-size: 24px; }

.info, .status {
  font-size: 1.5em;
  color: #444;
  margin: 30px 0px; }

.status {
  text-align: center;
  color: #AAA;
  font-style: italic; }

.status .small {
    display: block;
    font-size: 0.75em;
}

.article {
  margin: auto;
  width: 700px; }

.post h3 {
  text-align: center; }

.post .date {
  text-align: center;
  margin-top: -5px;
  font-size: 14px;
  color: #AAA; }

.one-third {
  margin: 0px 20px 0px 0px;
  width: 180px;
  float: left; }

.two-thirds {
  width: 500px;
  float: left; }

form {
  overflow: hidden;
  zoom: 1; 
  }

textarea {
  background: #EEE;
  border: none;
  display: block;
  width: 500px;
  height: 100px;
  font: 300 16px/1.5 "Palatino Linotype", Linotype, "URW Palladio L", Palladio, "Book Antiqua", Georgia, sans-serif;
  border-left: 5px solid #DDD; }

input#send {
  border: none;
  border-bottom: 1px solid #DEDEDE;
  background: #f5f5f5;
  cursor: pointer;
  margin: 20px 0px;
  padding: 0px 0px;
  font: 300 16px/1.5 "Palatino Linotype", Linotype, "URW Palladio L", Palladio, "Book Antiqua", Georgia, sans-serif; }

.copyright {
  color: #999;
  font: 15px HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif;
  text-align: center;
  text-shadow: 0px 1px 1px white;
  margin: 20px 0px 10px 0px; }
