@charset "utf-8";
/* CSS Document */

	body {
		background: #191919;
		text-align: center;
		color: #474747;
		font: 9px Verdana, Arial, Helvetica, sans-serif;
	}
	
	* a {
		color: #6F6F6F;
		font-weight: bold;
		text-decoration: none;
	}
	
	* a:hover {
		color: #474747;
	}
	
	#container {
		width: 500px;
		height: 200px;
		background-image: url('logo.png');
		background-repeat: no-repeat;
		background-position: 0px center;
		margin: auto;
	}
	
	#menu {
		background: url('separator.png');
		background-repeat: no-repeat;
		background-position: bottom;
		padding-left: 120px;
		padding-bottom: 10px;
	}
	
	#content {
		padding-left: 120px;
		height: 154px;
		text-align: justify;
		position: relative;
	}
	
	#footer {
		background: url('separator.png');
		background-repeat: no-repeat;
		background-position: top;
		padding-left: 120px;
		padding-top: 10px;
		clear: both;
	}
	
	.active {
		font-weight: bold;
		text-decoration: underline;
		color: #6F6F6F;
	}
	
	
	/* input.text {
		border: 0px; 
		background: url('input.png'); 
		width: 89px;
		color: #6F6F6F;
		padding: 7px 10px 6px 10px;
		font: 9px Verdana, Arial, Helvetica, sans-serif;
		vertical-align: middle;
	} */
	input.text { 
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: 1px solid #474747;
		background: transparent;
		color: #474747;
		font: 9px Verdana, Arial, Helvetica, sans-serif;
		width: 145px;
		margin-bottom: 5px;
	}
	
	textarea.textarea {
		border-top: 1px solid #474747;
		border-left: none;
		border-right: none;
		border-bottom: 1px solid #474747;
		background: transparent;
		color: #474747;
		font: 9px Verdana, Arial, Helvetica, sans-serif;
		width: 145px;
		overflow: inherit;
	}
	
	input.submit {
		border: none;
		color: #474747;
		background: transparent;
		font: 9px Verdana, Arial, Helvetica, sans-serif;
		margin-top: 5px;
	}
	
	table {
		margin: 0px;
	}