/* -------------------------------------------------------------- 
   
   typography.css
   * Sets up some sensible default typography.
   
-------------------------------------------------------------- */

/* Default font settings. 
   The font-size percentage is of 16px. (0.75 * 16px = 12px) */
body { color: #535353; font: 87.5%/1.2em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif; font-weight: 300; }


/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6,.title { display: block; font-weight: normal; color: #444; font-weight: 300;}

.quotation { font: italic 1.8em Georgia, serif; line-height: 1; padding: 32px 0px !important; }
h2, h3, .title, .post .link a { font-size: 2.15em; line-height: 1; letter-spacing: -1px; text-transform: lowercase; }
h3 { margin-top: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }

h1 img, h2 img, h3 img, 
h4 img, h5 img, h6 img {
  margin: 0;
}

.service h3, .service .title { color: #B62F2F;}


/* Text elements
-------------------------------------------------------------- */

p, .paragraph { display: block; margin: 0.5em 0; }
p img.left    { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right   { float: right; margin: 1.5em 0 1.5em 1.5em; }

a.active, 
a:focus, 
a:hover     { color: #B62F2F; }
a           { color: #AAA; text-decoration: none; }

strong      { font-weight: bold; }
em,dfn      { font-style: italic; }
dfn         { font-weight: bold; }
sup, sub    { line-height: 0; }

abbr, 
acronym     { border-bottom: 1px dotted #666; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#666; }

pre 				{ margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }

.amp { font-family: Baskerville, Palatino, "Book Antiqua", serif; font-style: italic; }

/* Lists
-------------------------------------------------------------- */

/*li ul, 
li ol       { margin:0 1.5em; }
ul, ol      { margin: 0 1.5em 1.5em 1.5em; }

ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}*/


/* Tables
-------------------------------------------------------------- */

table       { margin-bottom: 1.4em; width:100%; }
th          { font-weight: bold; }
thead th 		{ background: #c3d9ff; }
th,td,caption { padding: 4px 10px 4px 5px; }
tr.even td  { background: #e5ecf9; }
tfoot       { font-style: italic; }
caption     { background: #eee; }


/* Misc classes
-------------------------------------------------------------- */

.small      { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large      { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.hide       { display: none; }

.quiet      { color: #666; }
.loud       { color: #000; }
.highlight  { background:#ff0; }
.added      { background:#060; color: #fff; }
.removed    { background:#900; color: #fff; }

.first      { margin-left:0; padding-left:0; }
.last       { margin-right:0; padding-right:0; }
.top        { margin-top:0; padding-top:0; }
.bottom     { margin-bottom:0; padding-bottom:0; }

.more       { color: #AAA; display: block; float: right; padding: 2px 0px;}

.navigation { font-size: 1.15em; line-height: 1.2em; }

h2 a { color: #FFF; display: block; padding: 10px 20px 13px 20px; margin: 0px 10px 0px -10px; background: #434343; text-align: center; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
h2 a:hover, h2 a:focus { background: #555555; color: #FFF; }

.column { padding: 0px -20px; }
.project, .service { color: inherit; display: block; overflow: hidden; padding: 10px 20px 20px 20px; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; zoom: 1;}
.projects .project .title, .projects .service .title { font-size: 24px; }
.column .project, .column .service { margin: 0px -20px;}
.project:hover, .service:hover { background: #EEE; color: inherit; }
.project:hover .more, .service:hover .more { color: #B62F2F; border-bottom: 1px solid #999; margin-bottom: -1px; }

.foot_call { clear: both; margin: 40px 0px 40px 0px; text-align: center; font-size: 1.5em; font-style: italic; }



blockquote {
    font-size: 1.15em;
    line-height: 1.2em;
  font-style: italic;
  quotes: "\201C" "\201D";
  position: relative;
  margin: 20px;
}
/*blockquote > *:first-child {
    text-indent:-16px;
    }*/
blockquote > *:first-child:before {
    color:#444;
    display: block;
    content:"\201C";
    font:italic bold 3em Georgia, Garamond,Times,"Times New Roman",serif;
    line-height:1px;
    height: 1px;
    vertical-align:-1500%;
    margin: 30px 7px -18px -35px;
    }
blockquote > *:last-child:after {
    color:#444;
    content:"\201D";
    font:italic bold 3em Georgia, Garamond,Times,"Times New Roman",serif;
    line-height:1px;
    height: 1px;
    vertical-align:-2700%;
    display: block;
    position: absolute;
    bottom: 0px;
    right: -16px;
    }
* html blockquote * {text-indent:-6px;} /* fix IE6 */