@charset "utf-8";
/* CSS Document */

body {
	text-align: center;
	background-color: #A1A1A1;
	font: 11px "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	color: #4d4c4c;
}

#main {
	width: 670px;
	margin: auto;
	text-align: left;
}

#logo h1 {
	display: none;
}

#logo {
	background-image: url('logo.png');
	height: 78px;
}

ul#t-menu {
	background-image: url('menu.png');
	list-style-type: none;
	margin: 0px;
	padding: 0px 0px 0px 62px;
	height: 43px;
}
	
ul#t-menu li {
	float: left;
}

ul#t-menu li a:link {
	display: block;
	width: 109px;
	padding: 9px 0px 17px 0px;
	text-align: center;
	text-decoration: none;
	color: #4D4D4D;
	background: none;
}

ul#t-menu li a:visited {
	display: block;
	width: 109px;
	padding: 9px 0px 17px 0px;
	text-align: center;
	text-decoration: none;
	color: #4D4D4D;
	background: none;
}

ul#t-menu li a:hover {
	background-image: url('menu_selected.png');
}

ul#t-menu li a:active {
	display: block;
	width: 109px;
	padding: 9px 0px 17px 0px;
	text-align: center;
	text-decoration: none;
	color: #4D4D4D;
}



ul#t-menu li a.active {
	background-image: url('menu_active.png');
}

#content {
	background-image: url('background.png');
}

ul#c-top {
	background-image: url('top.png');
	list-style-type: none;
	margin: 0px;
	padding: 0px 0px 0px 13px;
	height: 38px;
}
	
ul#c-top li {
	float: left;	
}

ul#c-top li a:link {
	display: block;
	width: 91px;
	text-align: center;
	padding: 14px 0px 9px 0px;
	text-decoration: none;
	color: #4D4D4D;
	background: none;
}

ul#c-top li a:visited {
	display: block;
	width: 91px;
	text-align: center;
	padding: 14px 0px 9px 0px;
	text-decoration: none;
	color: #4D4D4D;
	background: none;
}

ul#c-top li a:hover {
	background-image: url('arrow.png');
	background-repeat: no-repeat;
	background-position: bottom;
}

ul#c-top li a:active {
	display: block;
	width: 91px;
	text-align: center;
	padding: 14px 0px 9px 0px;
	text-decoration: none;
	color: #4D4D4D;
}

ul#c-top li a.active {
	background-image: url('arrow.png');
	background-repeat: no-repeat;
	background-position: bottom;
}
	
.clear {
	height: 0px;
	line-height: 0px;
	display: none;
	clear: both;
}

#content #c-text {
	float: left;
	padding: 5px 5px 5px 10px;
	width: 454px;
	text-align: justify;
}

#content #c-sidebar {
	float: left;
	padding: 5px 10px 5px 5px;
	width: 185px;
	margin-left: 1px;
	text-align: justify;
}

#content #c-footer {
	background-image: url('bottom.png');
	background-repeat: no-repeat;
	padding: 9px 0px 13px 0px;
	text-align: center;
	clear: both;
}